/* MAIN */
body {
  font-size: 1.6rem;
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80%;
  margin: 0 auto;
}
/* HEADER */
header {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
.right-header {
  display: flex;
  gap: 3.2rem;
  font-size: 1.8rem;
}
/* Navigation */
#main-nav ul {
  display: flex;
  gap: 3.2rem;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
}
#logo-divide {
  color: yellow;
}
/* MAIN *
/* Search */
.search-container {
  display: flex;
  justify-content: center;
}
.search-container input {
  background-color: white;
  color: black;
  padding: 0.8rem;
  border-radius: 0.8rem;
  min-width: 40rem;
}
