/* MAIN */
body {
  font-size: 1.6rem;
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80%;
  margin: 0 auto;
}
/* HEADER */
header {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
.right-header {
  display: flex;
  gap: 3.2rem;
  font-size: 1.8rem;
}
/* Navigation */
#main-nav ul {
  display: flex;
  gap: 3.2rem;
}
#main-nav li:hover {
  color: yellow;
}
.cart-container i:hover {
  color: yellow;
}
.logo {
  font-size: 3.2rem;
  font-weight: 700;
}
#logo-divide {
  color: yellow;
}
/* Cart */
.cart-container {
  cursor: pointer;
}
.cart {
  width: 40rem;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(75, 75, 75);
  padding: 1.2rem;
  min-height: 20rem;
}
.cart-message {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.2rem;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  background: green;
  padding: 0.8rem 0;
  text-align: center;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  margin: 1.2rem 0;
}
.checkout-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 184, 0);
}
.cart-header {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
}
.cart-header i {
  color: white;
}
.cart-header i:hover {
  cursor: pointer;
  color: rgb(182, 182, 182);
}
.add-to-cart-btn:hover {
  background: rgb(0, 182, 0);
  cursor: pointer;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.cart-product {
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
}
.cart-left {
  display: flex;
  gap: 1.2rem;
}
.cart-left img {
  width: 10rem;
}
.cart-right {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.cart-right i {
  color: rgb(193, 1, 1);
}
.cart-right i:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.title-genre-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-genre-container p {
  font-size: 1.8rem;
}
.cart-price-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 1.6rem 0;
}
.price-overview {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.price-heading,
.price {
  font-weight: 500;
}
.price-heading-bold,
.price-total {
  font-weight: 700;
  font-size: 2.4rem;
}

/* MAIN *
/* Search */
.search-container {
  display: flex;
  justify-content: center;
}
.search-container input {
  background-color: white;
  color: black;
  padding: 0.8rem;
  border-radius: 0.8rem;
  min-width: 40rem;
}
/* Content section */
#content-section {
  margin-top: 4rem;
}
.section-heading {
  font-size: 2.4rem;
  padding-bottom: 0.8rem;
}
/* games-container */
.games-container {
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
/* Game card */
.game-card {
  background-color: rgb(57, 57, 57);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20rem;
  border-radius: 0.8rem;
}
.game-card img {
  background-color: red;
  margin: 0 auto;
  z-index: 1;
  border-radius: 0.8rem;
}
.title {
  font-size: 1.8rem;
  font-weight: 700;
}
.categories {
  color: rgb(223, 223, 223);
  flex-grow: 1;
}
.price-container {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
.image-container {
  position: relative;
}
.sale {
  background: green;
  padding: 0.4rem 0.8rem;
  position: absolute;
  z-index: 2;
  top: 0;
  border: 1px solid black;
}
.line-through {
  text-decoration: line-through;
  color: rgb(255, 53, 53);
}
.game-card button {
  background: green;
  color: white;
  border-radius: 0.8rem;
  padding: 0.8rem 0;
}
.message-container {
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  position: absolute;
  width: 80%;
  top: 0;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
.hidden {
  display: none;
}

/* LOADING ANIMATION */
.loading-container {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-container p {
  text-align: center;
  margin-top: 1.2rem;
}
.loading {
  border: 0.8rem solid #f3f3f3;
  border-top: 0.8rem solid #797979;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PRODUCT PAGE */
#product-info {
  display: flex;
}
.title-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 1;
}
#product-info img {
  flex: 1;
}

/* FOOTER */
footer {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  padding: 4rem;
  font-size: 1.8rem;
  border-top: 1px solid white;
  margin-top: 4rem;
}
#links ul,
#legal ul,
#logo {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
#links li:hover,
#legal li:hover {
  color: yellow;
}
.footer-logo {
  font-size: 4.8rem;
}
